/*!
 * Start Bootstrap - Agency v4.1.1 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

p {
    font-size: 17px;
    line-height: 30px;
    color: #4d4d4d;
    font-weight: 300;
	    margin-bottom: 35px;
}

a {
  color: #71946f;
}

a:hover {
  color: #617e5f;
}

.text-primary {
  color: #71946f !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size:34px;
  color:#4d4d4d;
}

h3 {
  font-size:28px;
  color:#4d4d4d;
}


section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 12px 18px;
    font-size: 17px;
    line-height: 17px;
    border-radius: 100px;
}

.btn-group-sm>.btn, .btn-sm i {
padding: 0 0px 0px 12px;
    font-size: 18px;
}

.btn-primary {
  background-color: #71946f;
  border-color: #71946f;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #617e5f !important;
  border-color: #617e5f !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 148, 111, 0.5) !important;
}

.btn-secondary {
  background-color: #FFF;
  border-color: #FFF;
  color:#2c537f;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #2c537f;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
  color: #2c537f !important;
}

.btn-blue {
background-color: #004575;
    border-color: #004575;
    color: #FFF;
    border-radius: 1px;
    padding: 25px 20px;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    border: 0;
	    text-align: left;
		    position: relative;
}

.btn-blue:active, .btn-blue:focus, .btn-blue:hover {
  background-color: #023c64 !important;
  border-color: #023c64 !important;
  color: #FFF;
}

.btn-blue:active, .btn-blue:focus {
  color: #FFF !important;
}

.btn-blue i {
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.btn_section a {
width: calc(16.66666666% - 16px);
    margin-right: 15px;
}

.btn_section a:last-child {
    margin-right: 0px;
}



::-moz-selection {
  background: #71946f;
  text-shadow: none;
}

::selection {
  background: #71946f;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
    background-color: #FFF;
    padding: 35px 35px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    display: block;
    background-color: #FFF;
    max-height: 138px;
    border-bottom: 1px solid #efefef;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #71946f;
  font-family: 'Roboto', sans-serif;
}

#mainNav .navbar-brand {
  color: #71946f;
  font-family: 'Roboto', sans-serif;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #617e5f;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #71946f;
}

@media (min-width: 992px) {
  #mainNav {
    padding: 35px 45px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
	display: block;
    background-color: #FFF;
    max-height: 138px;
	border-bottom: 1px solid #efefef;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFF;
    border-bottom: 1px solid #efefef;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

  header.masthead .intro-text {
    padding-top: 115px;
    padding-bottom: 115px;
	    margin-top: 138px;
  }
  header.masthead .intro-text .intro-subheading {
	font-size: 20px;
    line-height: 35px;
    max-width: 860px;
    margin: 0 auto 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 65px;
    font-weight: 300;
    line-height: 75px;
    padding: 0 0 75px 0;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    max-width: 600px;
    margin: 0 auto 0;
  }
header.masthead .intro-text .intro-img img
  {
	padding: 0 0 80px 0;
    width: 100%;
    height: auto;
    max-width: 806px;
    margin: 0 auto 0;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(113, 148, 111, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  max-width: 900px;
}

.portfolio-modal .modal-content {
    padding: 35px 10px 25px 10px;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 35px;
    line-height: 35px;
	    margin-bottom: 30px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Roboto', sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
	position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
    width: 1px;
    height: 50px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #71946f;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #71946f;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Roboto', sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Roboto', sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Roboto', sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #71946f;
}


footer .copyright {padding: 12px 0px 0px 22px;font-size: 12px;color: #666;font-weight: 100;float: left;letter-spacing: 0.5px;}
footer {background-color: #FFF;padding: 62px 0px 30px 0; position:relative;}
.leica_footer {    position: absolute;
    right: 50px;
    top: 60px;
    display: block;}
footer img{float:left}

table {
	margin-bottom:50px;
}

table th {
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px 0px 10px 20px;
}

table td {
    border-right: 1px solid #f1f1f1;
    padding: 15px 0px 0px 20px;
}

table th:first-child {
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px 0px 10px 0px;
}

table td:first-child {
	padding: 15px 0px 0px 0px;
}

table th:last-child{
    border-right: 0px solid #f1f1f1;
}

table td:last-child{
    border-right: 0px solid #f1f1f1;
}

th {
    font-size: 15px;
    font-weight: 400;
    color: #4d4d4d;
}

td {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 400;
}

.container_img_a {
    background: #71946f;
    margin: 50px 0;
	text-align: center;
}



.container_img_a img {
    margin-top: -50px;
    margin-bottom: -50px;
	    width: 100%;
    height: auto;
}

.container_img_b {
    background: #ececec;
    margin: 120px 0 25px 0;
    text-align: center;
	    padding: 0 70px;
}

.container_img_b p{
    font-size: 14px;
    line-height: 20px;
}


.container_img_b img {
    margin-top: -120px;
    margin-bottom: 25px;
	width: 100%;
    height: auto;
}

.container_img_b a{
    margin-bottom: -40px;
}

.container_img_c {
    margin: 0px 0px 0px 0px;
    text-align: center;
	    padding: 0 70px;
}


.ma_ct_a {
    margin: 120px 0 80px 0;
}

.container_img_c p{
    font-size: 14px;
    line-height: 20px;
}


.container_img_c img {
    margin-top: 40px;
    margin-bottom: 25px;
}

.st_p_001{
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0;
    text-align: center;
    padding: 55px 15px 0 15px;
    max-width: 480px;
}

.box_a{
    max-width: 480px;
    margin: 0 auto 0;
    padding: 0 15px;
}

.bg_a {
	background-image:url(../img/home_bg_001.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;}

.bg_b {
	background-image:url(../img/home_bg_002.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;}

.btn_section {margin-top:30px;width: 100%;}

.img_a {max-width:638px; width:100%; height:auto;}

.form_header {display: flex;    float: right;}
.form_header h1{
	    font-size: 16px;
    color: #666666;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 25px;
    margin-right: 30px;}
.form_header form{    display: flex;
    margin-top: -10px; position:relative;}
.form_header form div {
    width: 190px;
    margin-right: 20px;
}
.form_header form div:last-child {
    width: auto;
    margin-right: 0;
	    margin-top: 23px;
}
.form_header form label{
	width: 100%;
	font-size: 13px;
    color: #939393;
    line-height: 13px;
    margin-bottom: 5px;}
.form_header form input[type=text]{
	width: 100%;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 12px;
    padding: 12px 12px;
    color: #939393;
	    height: auto;}
.form_header form input[type=submit]{ }

.link_to_form {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #939393;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #939393;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #939393;
}

#mainNav.navbar-shrink .form_header{
    margin-top: 13px;
}

/* -------------------------------------------------------------------
Contact Form
------------------------------------------------------------------- */
.modal-body {
    padding: 0 !important;
}

#thank_you_message {
	margin: 0 auto 0;
	text-align:center;
	margin-bottom: 50vh !important;
    margin-top: 40vh !important;
    max-width: 700px !important;}

#thank_you_message p {
    font-size: 30px;
    line-height: 40px;
}
#nexus_section {
    padding-bottom: 196px;
}

.fieldset ul li {
    width: calc(33.33333333333% - 15px);
    margin: 0 20px 20px 0;
    float: left;
    list-style: none;
    position: relative;
}

.fieldset ul {
	padding:0;
	margin:0;
}

#form-results {
    position: absolute;
  bottom: -4%;
  right: -20px;
}


#x_lastname_fieldpair, #x_state_fieldpair{margin-right: 0;}


#x_udf_privacy_policy_version143_fieldpair {width: calc(100% - 170px);margin:10px 0 0 0;clear: both;}

#x_udf_privacy_policy_version143_label {    margin: 0px 0 0 25px;
    line-height: 16px;}

#x_udf_privacy_policy_version143_label a {color:#ee0033}
#x_udf_privacy_policy_version143_label a:hover {color:#ee0033}

#x_udf_privacy_policy_version143 {
	position: absolute;
    left: 0;
    top: 3px;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;}




.fieldset ul {position:relative}


.buttons-set p { display:none; outline:none;}

form input[type="text"]{
    width: 100%;
    margin: 0 0 0 0;
    outline: none;
    background: #FFF;
    font-weight: 300;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 12px;
    padding: 12px 12px;
    color: #333;
    height: auto;

}


form select{
outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down_arrow.svg) no-repeat #FFF !important;
    background-position: 100% 50% !important;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    margin: 0 0 0 0;
    outline: none;
    background: #FFF;
    font-weight: 300;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 12px;
    padding: 12px 12px;
    color: #333;
    height: auto;

}

form label {
font-weight: 300;
    margin: 0 0 10px 0;
    text-align: left;
    width: 100%;
    font-size: 13px;
    color: #939393;
    line-height: 13px;
    margin-bottom: 5px;
	width: 100%;
}


form button:after {
  content: "";
}

form button{
background-image: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    outline: none;
    background-position: 100% 50%;
    float: right;
    border: 1px solid #e6e6e6;
    font-weight: 400;
    display: inline-flex;
    letter-spacing: normal;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    padding: 12px 41px 12px 18px;
    font-size: 17px;
    line-height: 17px;
    border-radius: 100px;
    background-color: #71946f;
    border-color: #71946f;
    color: #FFF;
    outline: none;
    text-transform: capitalize;
}


form button:hover,
form button:focus,
form button:active,
form button.active,
form button.disabled,
form button[disabled]{
	background-color: #617e5f;
}

fieldset {position:relative;}

.link_to_form_mb {display:none;}

@media (max-width:1279px){

.form_header form div {
    width: 140px;
    margin-right: 20px;
}

#mainNav.navbar-shrink {
	padding-top: 10px;
    padding-bottom: 15px;
    background-color: #FFF;
    border-bottom: 1px solid #efefef;

}
}

@media (max-width:1023px){
.form_header form div {
    width: 95px;
    margin-right: 10px;
}

.form_header h1 {
    margin-right: 15px;
}

#mainNav.navbar-shrink {
	padding-top: 10px;
    padding-bottom: 15px;
    background-color: #FFF;
    border-bottom: 1px solid #efefef;

}

section {
    overflow: hidden;
}

.ma_mb_b {
    margin-top: 100px;
}


.btn-blue {
    padding: 20px 20px;
    font-size: 11px;
}

.btn-blue i {
    top: 21px;
    font-size: 13px;
}

}

@media (max-width:767px){
	.leica_footer {right: 30px;top: 99px;}
	footer {padding: 130px 0px 30px 0;}
	.leica_footer {top: 35px;position: absolute;margin: 0 auto 0;left: 0;right: 0;}
	footer .copyright {font-size: 9px;}

	.fieldset ul li {
    width: 100%;
    margin: 0 0 20px 0;
    float: none;
}


	#x_udf_privacy_policy_version143_fieldpair {
    width: 100%;
    margin: 10px 0 30px 0;
    clear: both;
}

#x_udf_privacy_policy_version143_label {
    margin: 0px 0 0 25px;
    line-height: 16px;
    padding: 0 25px 0 0;
}
.ma_mb_a { }

.form_header form div {display:none;}
.form_header form div:last-child {display:block;}

.form_header h1 {font-size: 14px;}
#mainNav {padding: 20px 20px;}
header.masthead .intro-text {
    margin-top: 108px;
	padding-bottom: 50px;
}

#mainNav.navbar-shrink .form_header {
    margin-top: -8px;
}

#mainNav.navbar-shrink .navbar-brand .form_header h1 {
    margin-top: 19px;
}

#mainNav.navbar-shrink .navbar-brand .form_header form {
    margin-top: -18px;
}

#mainNav.navbar-shrink .navbar-brand img {
    width: 60px;
    height: auto;
}

.btn_section {
    width: 100%;
    margin: 30px 7.5px 0 7.5px;
}

.btn_section a {
    width: calc(50% - 17px);
    margin: 15px 6.5px 0px 6.5px;
}

header.masthead .intro-text .intro-heading {
    font-size: 38px;
    line-height: 50px;
}

header.masthead .intro-text .intro-subheading {
    font-size: 18px;
    line-height: 30px;
}

.container_img_c, .container_img_a, .container_img_b {
    padding: 0 15px;
}

section {
    padding: 50px 0;
}

.portfolio-modal .modal-content h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: left;
    margin-top: 5px;
}

#mainNav.navbar-shrink {
    padding-bottom: 5px;
}

.link_to_form_mb {    display: inline-block;     float: right;
    margin-top: 12px;}

	#mainNav.navbar-shrink .link_to_form_mb {
    margin-top: 4px;
}

.form_header {display:none;}
}
#x_udf_comments126_fieldpair {
  width: 100%;
}
#x_udf_comments126 {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
}
